<!DOCTYPE html>
<html>

</html>

<head>
    <title>게시판 목록</title>
</head>


<body>
    <h1>게시판 목록</h1>
    <table border="2">
        <tr>
            <th>글번호</th>
            <th>제목</th>
            <th>글쓴이</th>
            <th>공개여부</th>
            <th>글쓴 날짜</th>
        </tr>
        <% for(var i=0; i<rows.length; i++) { %>
            <tr>
                <td>
                    <%=rows[i].idx%>
                </td>
                <td>
                    <a href="/posts/read/<%=rows[i].idx%>">
                        <%=rows[i].title%>
                    </a>
                </td>
                <td>
                    <%=rows[i].student_id%>
                </td>
                <td>
                    <%=rows[i].show%>
                </td>
                <td>
                    <%=rows[i].date%>
                </td>
            </tr>
            <% } %>

    </table>
    <a href="/posts/create">게시글 작성</a>
</body>